{#% cache 'article' {gen: gimme.article} %#}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
  Remove this if you use the .htaccess -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{{ gimme.article.title }}</title>
  <meta name="author" content="Sourcefabric">

  <meta name="description" content="Superdesk Web Publisher is state of the art publishing system.">
  <meta name="keywords" content="Superdesk, Sourcefabric, open source, media, journalism">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel='stylesheet' href='/public/dist/style.css' type='text/css' media='all' />
  <link rel="preload" href="/public/dist/all.js" as="script">
  <link rel="manifest" href="/manifest.json">

  <link rel="shortcut icon" href="/public/img/icons/favicon.ico">
  <link rel="apple-touch-icon" sizes="180x180" href="/public/img/icons/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/public/img/icons/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/public/img/icons/favicon-16x16.png" sizes="16x16">
  <link rel="mask-icon" href="/public/img/icons/safari-pinned-tab.svg" color="#222">
  <meta name="theme-color" content="#222">
  <link rel="amphtml" href="{{ url(gimme.article)|amp }}">

</head>
<body class="article">
  <aside class="article__side">
    <a href="/#/" class="article__logo"><img src="/public/img/logo-dark.svg"></a>
    <a class="button button--back cursorPointer">Back</a>
  </aside>
  <article class="article__wrapper">
    {% set big = '' %}
    {% set small = '' %}

    {% if gimme.article.featureMedia %}

    {% gimme rendition with { 'media': gimme.article.featureMedia, 'name': '900x490' } %}
    {% set big = path(rendition) %}
    {% endgimme %}
    {% gimme rendition with { 'media': gimme.article.featureMedia, 'name': '600x360' } %}
    {% set small = path(rendition) %}
    {% endgimme %}
    {% endif %}


    {% if small is not empty %}
    <picture class="article__image">
      <source srcset="{{big}}" media="(min-width: 650px) " />
      <img src="{{small}}" alt="" />
    </picture>
    {% endif %}
    <header class="article__header">
      <h1>{{ gimme.article.title }}</h1>
      <div class="articleList__metadata">
      {% if gimme.article.source %}
        <span class="articleList__metadata__item">{{gimme.article.source}}</span>
      {% endif %}
        <time class="articleList__metadata__item" datetime="{{ gimme.article.publishedAt|date("c") }}" class="">{{ gimme.article.publishedAt|date("d F Y") }}</time>
      </div>
  
    </header>
    <div class="article__body">
      {{ gimme.article.body|raw }}
    </div>
  </article>
   <aside class="article__side visible-lg">
  </aside>

<script src="/public/dist/all.js" ></script>
</body>
</html>

{#% endcache %#}
