{#% cache 'article' {gen: gimme.article} %#}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ gimme.article.title }}</title>
  <meta name="description" content="{{ gimme.article.lead|striptags }}">
  <meta property="og:title" content="{{gimme.article.title}}" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="{{url(gimme.article)}}" />
  <meta property="og:site_name" content="Superdesk" />
  <meta property="og:description" content="{{ gimme.article.lead|striptags }}" />
  <meta property="article:published_time" content="{{ gimme.article.publishedAt|date("%Y-%m-%d %H:%M:%S") }}" />

  {% set big = '' %}
  {% set bigURL = '' %}
  {% set small = '' %}
  {% set smallURL = '' %}

  {% if gimme.article.featureMedia %}
    {% gimme rendition with { 'media': gimme.article.featureMedia, 'name': '900x490' } %}
      {% set big = path(rendition) %}
      {% set bigURL = url(rendition) %}
    {% endgimme %}
    {% gimme rendition with { 'media': gimme.article.featureMedia, 'name': '600x360' } %}
      {% set small = path(rendition) %}
      {% set smallURL = url(rendition) %}
    {% endgimme %}
  {% endif %}

  
  {% if bigURL %}
      <meta property="og:image" content="{{bigURL}}" />
      <meta property="og:image:height" content="900" />
      <meta property="og:image:width" content="490" />
  {% elseif smallURL %}
    <meta property="og:image" content="{{smallURL}}" />
    <meta property="og:image:height" content="600" />
    <meta property="og:image:width" content="360" />
  {% endif %}


  <meta itemprop="name" content="{{gimme.article.title}}">
  <meta name="author" content="Sourcefabric">
  <meta name="keywords" content="Superdesk, Sourcefabric, open source, media, journalism">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel='stylesheet' href='/public/dist/style.css' type='text/css' media='all' />
  <link rel="preload" href="/public/dist/all.js" as="script">
  <link rel="manifest" href="/manifest.json">

  <link rel="shortcut icon" href="/public/img/icons/favicon.ico">
  <link rel="apple-touch-icon" sizes="180x180" href="/public/img/icons/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/public/img/icons/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/public/img/icons/favicon-16x16.png" sizes="16x16">
  <link rel="mask-icon" href="/public/img/icons/safari-pinned-tab.svg" color="#222">
  <meta name="theme-color" content="#222">
  <link rel="amphtml" href="{{ url(gimme.article)|amp }}">

</head>
<body class="article">
  <header class="article__topnav hidden-lg">
    <a class="button button--back cursorPointer">Back</a>
  </header>
  <aside class="article__sidenav visible-lg">
    <a href="/#/" class="article__logo"><img src="/public/img/logo-dark.svg"></a>
    <a class="button button--back cursorPointer">Back</a>
  </aside>
  <article class="article__wrapper">
    


    {% if small is not empty %}
    <picture class="article__image">
      <source srcset="{{big}}" media="(min-width: 650px) " />
      <img src="{{small}}" alt="" />
    </picture>
    {% endif %}
    <header class="article__header">
      <h1>{{ gimme.article.title }}</h1>
      <div class="articleList__metadata">
      {% for source in gimme.article.sources %}
        <span class="articleList__metadata__item">{{source}}</span>
      {% endfor %}
        <time class="articleList__metadata__item" datetime="{{ gimme.article.publishedAt|date("c") }}" class="">{{ gimme.article.publishedAt|date("d F Y") }}</time>
      </div>
  
    </header>
    <div class="article__body">
      {{ gimme.article.body|raw }}
    </div>
  </article>

  <div class="articleList article__wrapper">
    <h2 class="articleList__sectionHeadline">More from {{gimme.article.route.name}}</h2><div class="articleList__listSection articleList__listSection--gridView">
      {% set counter = 0 %}
      {% gimmelist article from articles|limit(3)|order('publishedAt','desc') %}
        {% if (article.id != gimme.article.id) and (counter < 3) %}
          {% set counter = counter + 1 %}
          {% set rend = '' %}
          {% if article.featureMedia %}
            {% gimme rendition with { 'media': article.featureMedia, 'name': '300x220' } %}
              {% set rend = rendition %}
            {% endgimme %}
          {% else %}
            {% gimmelist media from articleMedia|limit(1) with {'article': article} %}
              {% gimme rendition with { media: media, 'name': '300x220' } %}
                {% set rend = rendition %}
              {% endgimme %}
            {% endgimmelist %}
          {% endif %}
          <article class="articleList__item">
            <a href="{{url(article)}}">
              {% if rend %}
                <figure class="articleList__image">
                  <img src="{{url(rend)}}">
                </figure>
              {% endif %}
              <div class="articleList__info">
                <h3 class="articleList__headline">{{article.title}}</h3>
                <p class="articleList__text">{{article.lead|striptags|truncate(120,true)}}</p>
                <div class="articleList__metadata">
                  {% for source in article.sources %}
                    <span class="articleList__metadata__item">{{source}}</span>
                  {% endfor %}
                  <span class="articleList__metadata__item">{{ article.publishedAt|date("d F Y") }}</span>
                </div>
              </div>
            </a>
          </article>
        {% endif %}
      {% endgimmelist %}
    </div>
  </div>
<script src="/public/dist/all.js" ></script>
</body>
</html>

{#% endcache %#}
